<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Local"
         connectionString="Server=10.0.11.145;Database=WISE_STAGING;user id=IT_SOLWOM;password=Passwd789;"
         providerName="System.Data.SqlClient"/>
    <add name="UAT"
         connectionString="Server=10.0.11.142;Database=WISE_STAGING;user id=IT_SOLWOM;password=Passwd789;"
         providerName="System.Data.SqlClient"/>
    <add name="Production"
         connectionString="Server=10.0.11.142;Database=WISE_STAGING;user id=IT_SOLWOM;password=Passwd789;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>